.ui-dialog.survey {
  width: 100% !important;
  max-width: 600px;
  background-color: #fff;
  border-radius: 6px;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.5);
  z-index: 99; }
  .ui-dialog.survey .ui-dialog-titlebar {
    padding: .5em;
    display: flex;
    color: rgba(0, 0, 0, 0.34);
    border-radius: 6px 6px 0 0;
    text-transform: uppercase;
    font-weight: bold; }
    .ui-dialog.survey .ui-dialog-titlebar.willful-endurer, .ui-dialog.survey .ui-dialog-titlebar.for-the-family {
      background-color: #f89520; }
    .ui-dialog.survey .ui-dialog-titlebar.balance-seeker, .ui-dialog.survey .ui-dialog-titlebar.open-to-options {
      background-color: #23a9e1; }
    .ui-dialog.survey .ui-dialog-titlebar.healthy-for-life, .ui-dialog.survey .ui-dialog-titlebar.priority-juggler {
      background-color: #8cc640; }
    .ui-dialog.survey .ui-dialog-titlebar.dr-knows-best {
      background-color: #1b76a0; }
    .ui-dialog.survey .ui-dialog-titlebar.live-for-today, .ui-dialog.survey .ui-dialog-titlebar.self-achiever {
      background-color: #f8d82e; }
    .ui-dialog.survey .ui-dialog-titlebar .ui-dialog-titlebar-close {
      margin-left: auto;
      border: 0;
      background: transparent;
      color: #fff;
      text-shadow: 1px 1px 1px rgba(26, 96, 146, 0.5); }
  .ui-dialog.survey .ui-dialog-content {
    padding: 2em;
    text-align: center; }
    .ui-dialog.survey .ui-dialog-content #button {
      background-color: #aed578;
      color: #464646;
      padding: .7em 1.3em;
      transition: all .5s; }
      .ui-dialog.survey .ui-dialog-content #button:hover {
        background-color: #97c951;
        color: #fff; }
  .ui-dialog.survey #result {
    margin-top: 1em;
    font-weight: 700;
    padding-bottom: .5em; }
    .ui-dialog.survey #result.willful-endurer, .ui-dialog.survey #result.for-the-family {
      border-bottom: 1px solid #f89520; }
    .ui-dialog.survey #result.balance-seeker, .ui-dialog.survey #result.open-to-options {
      border-bottom: 1px solid #23a9e1; }
    .ui-dialog.survey #result.healthy-for-life, .ui-dialog.survey #result.priority-juggler {
      border-bottom: 1px solid #8cc640; }
    .ui-dialog.survey #result.dr-knows-best {
      border-bottom: 1px solid #1b76a0; }
    .ui-dialog.survey #result.live-for-today, .ui-dialog.survey #result.self-achiever {
      border-bottom: 1px solid #f8d82e; }
  .ui-dialog.survey .result-email {
    line-height: 1.5;
    margin-top: 2em;
    margin-bottom: 1em;
    font-style: italic; }
  .ui-dialog.survey .result-summary {
    display: none;
    line-height: 1.5;
    margin: 2em 1em; }
  .ui-dialog.survey .result.open-to-options .open-to-options, .ui-dialog.survey .result.open-to-options .balance-seeker, .ui-dialog.survey .result.balance-seeker .open-to-options, .ui-dialog.survey .result.balance-seeker .balance-seeker {
    display: block; }
  .ui-dialog.survey .result.for-the-family .for-the-family, .ui-dialog.survey .result.for-the-family .willful-endurer, .ui-dialog.survey .result.willful-endurer .for-the-family, .ui-dialog.survey .result.willful-endurer .willful-endurer {
    display: block; }

.wvhFieldError {
  border: 2px solid red !important; }

.wvhButton {
  background-color: #a2cf65;
  color: white;
  padding: 10px 20px;
  border: 0px;
  margin-top: 20px; }

#wvhPsychographicPlugin {
  width: 500px;
  margin: 20px auto;
  clear: both; }

.wvhButton:hover {
  background-color: #97c06d; }

label {
  font-weight: bold;
  line-height: normal; }

#wvhPaywall label {
  display: block;
  width: 140px;
  text-align: left;
  padding-right: 20px;
  margin-top: .5em; }

#wvhPaywall input {
  width: 100%;
  border-radius: 3px;
  margin: .5em 0 1em;
  background: #f6f6f6;
  padding: 10px; }

#wvhSurvey label {
  display: block;
  margin-bottom: .5em; }

.wvhRadioWrapper {
  margin: 1em;
  display: block;
  position: relative;
  padding-left: 35px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  font-weight: normal; }
  .wvhRadioWrapper input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0; }
  .wvhRadioWrapper .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 20px;
    width: 20px;
    background-color: #eee;
    border-radius: 50%; }
    .wvhRadioWrapper .checkmark:after {
      content: "";
      position: absolute;
      display: none;
      top: 6px;
      left: 6px;
      width: 8px;
      height: 8px;
      border-radius: 50%;
      background: #1a6092; }
  .wvhRadioWrapper:hover input ~ .checkmark {
    background-color: #ccc; }
  .wvhRadioWrapper input:checked ~ .checkmark {
    background-color: #62ade3; }
  .wvhRadioWrapper input:checked ~ .checkmark:after {
    display: block; }

.wvhQuestion {
  border-bottom: 1px solid rgba(6, 24, 36, 0.11);
  margin-bottom: 2em;
  padding-bottom: 2em; }

#question-12 {
  border-bottom: 0px; }

/* Phones */
@media only screen and (min-width: 320px) and (max-width: 479px) {
  #wvhPsychographicPlugin {
    width: 300px; } }
@media only screen and (min-width: 480px) and (max-width: 767px) {
  #wvhPsychographicPlugin {
    width: 400px; } }
@media only screen and (min-width: 768px) and (max-width: 991px) {
  #wvhPsychographicPlugin {
    width: 500px; } }
@media only screen and (min-width: 992px) and (max-width: 1999px) {
  #wvhPsychographicPlugin {
    width: 500px; } }

/*# sourceMappingURL=wvhPluginStyle.css.map */
