$blue: #62ade3;
$blue-lt: lighten($blue, 30%);
$blue-dk: darken($blue, 30%);
$green: #aed578;
$orange: #e09245;

$chart-orange: #f89520;
$chart-blue-lt: #23a9e1;
$chart-green: #8cc640;
$chart-blue-dk: #1b76a0;
$chart-yellow: #f8d82e;

.ui-dialog.survey {
    width: 100% !important;
    max-width: 600px;
    background-color: #fff;
    border-radius: 6px;
    box-shadow: 0 0 6px rgba(0,0,0,0.5);
    z-index: 99;


  .ui-dialog-titlebar {
    padding: .5em;
    display: flex;
    color: rgba(0, 0, 0, 0.34);
    //text-shadow: 1px 1px 1px rgba($blue-lt, 0.5), -1px -1px 1px rgba($blue, 0.5);
    border-radius: 6px 6px 0 0;
    text-transform: uppercase;
    font-weight: bold;

    &.willful-endurer, &.for-the-family {
      background-color: $chart-orange;
    }

    &.balance-seeker, &.open-to-options {
      background-color: $chart-blue-lt;
    }

    &.healthy-for-life, &.priority-juggler {
      background-color: $chart-green;
    }

    &.dr-knows-best {
      background-color: $chart-blue-dk;
    }

    &.live-for-today, &.self-achiever {
      background-color: $chart-yellow;
    }

    .ui-dialog-titlebar-close {
      margin-left: auto;
      border: 0;
      background: transparent;
      color: #fff;
      text-shadow: 1px 1px 1px rgba($blue-dk, 0.5);
    }
  }

  .ui-dialog-content {
    padding: 2em;
    text-align: center;

    #button {
      background-color: $green;
      color: #464646;
      padding: .7em 1.3em;
      transition: all .5s;

      &:hover {
        background-color: darken($green, 10%);
        color: #fff;
      }
    }
  }

  #result {
    margin-top: 1em;
    font-weight: 700;
    padding-bottom: .5em;

    &.willful-endurer, &.for-the-family {
      border-bottom: 1px solid $chart-orange;
    }

    &.balance-seeker, &.open-to-options {
      border-bottom: 1px solid $chart-blue-lt;
    }

    &.healthy-for-life, &.priority-juggler {
      border-bottom: 1px solid $chart-green;
    }

    &.dr-knows-best {
      border-bottom: 1px solid $chart-blue-dk;
    }

    &.live-for-today, &.self-achiever {
      border-bottom: 1px solid $chart-yellow;
    }
  }

  .result {
    &-email {
      line-height: 1.5;
      margin-top: 2em;
      margin-bottom: 1em;
      font-style: italic;
    }

    &-summary {
      display: none;
      line-height: 1.5;
      margin:2em 1em;
    }

    &.open-to-options, &.balance-seeker {
      .open-to-options, .balance-seeker {
        display: block;
      }
    }

    &.for-the-family, &.willful-endurer {
      .for-the-family, .willful-endurer {
        display: block;
      }
    }
  }
}
.wvhFieldError
{
    border: 2px solid red !important;
}
.wvhButton
{
    background-color: #a2cf65;
    color: white;
    padding: 10px 20px;
    border: 0px;
    margin-top: 20px;
}
#wvhPsychographicPlugin
{
    width: 500px;
    margin: 20px auto;
    clear: both;
}
.wvhButton:hover
{
    background-color: #97c06d;
}
label
{
    font-weight: bold;
    line-height: normal;
}
#wvhPaywall label
{
    display: block;
    width: 140px;
    text-align: left;
    padding-right: 20px;
    margin-top: .5em;
}
#wvhPaywall input
{
    width: 100%;
    border-radius: 3px;
    margin: .5em 0 1em;
    background: rgb(246, 246, 246);
    padding: 10px;
}

#wvhSurvey label
{
    display: block;
    margin-bottom: .5em;
}

.wvhRadioWrapper
{
    margin: 1em;
    display: block;
    position: relative;
    padding-left: 35px;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    font-weight: normal;

    input {
      position: absolute;
      opacity: 0;
      cursor: pointer;
      height: 0;
      width: 0;
    }

    .checkmark {
      position: absolute;
      top: 0;
      left: 0;
      height: 20px;
      width: 20px;
      background-color: #eee;
      border-radius: 50%;

      &:after {
        content: "";
        position: absolute;
        display: none;
        top: 6px;
        left: 6px;
        width: 8px;
        height: 8px;
        border-radius: 50%;
        background: $blue-dk;
      }
    }

    &:hover input ~ .checkmark {
      background-color: #ccc;
    }

    input:checked ~ .checkmark {
      background-color: $blue;
    }

    input:checked ~ .checkmark:after {
      display: block;
    }
}

.wvhQuestion
{
    border-bottom: 1px solid  rgba(6, 24, 36, 0.11);
    margin-bottom: 2em;
    padding-bottom: 2em;
}

#question-12 {
    border-bottom: 0px;
  }


/* Phones */
@media only screen and (min-width: 320px) and (max-width: 479px)
{
    #wvhPsychographicPlugin
    {
        width: 300px;
    }
}

@media only screen and (min-width: 480px) and (max-width: 767px)
{
    #wvhPsychographicPlugin
    {
        width: 400px;
    }
}

@media only screen and (min-width: 768px) and (max-width: 991px)
{
    #wvhPsychographicPlugin
    {
        width: 500px;
    }
}

@media only screen and (min-width: 992px) and (max-width: 1999px)
{
    #wvhPsychographicPlugin
    {
        width: 500px;
    }
}
